.Rproj.user
.Rhistory
.RData
.Ruserdata
class_HiC_sample_set.R
compare_bw_methods.R
function_delta_calc.R
functions_tadness.R
gencode.v24.exons.level1.11111.gtf
gencode.v24.exons.level1.gtf
gencode.v24.gene_dt.save
gencode.v27.annotation.gtf
geom_boxplot_noOutliers.R
process_full_bw.R
run_HiC_matrix.R
run_HiC_matrix_3Mb_insulation.R
run_decrease_resolution.R
run_diff.R
run_global_zscore.R
run_norm_diagonal.R
run_tadness.R
shiny_hic_browseR.Rproj
subsetting_test.R
tad_comparison.Rproj
test_cleaner_annotation.R
test_foldchange_between_cells.R
test_h5.R
test_integrated_plots.R
test_run_straw.R
test_scores_mins.R
test_tads_around_lncs.R
tmp_dev_ref_layout.R
tmp_jane_linc_venns.R
tmp_jane_lnc_enrichment_profiles.R
tmp_jane_mda231_runx_venns.R
tmp_norm_by_diagonal.R
tmp_reference_ggplot_bullshit.R
TnT
tnt
*.save
